#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 35vh;
}

#about .about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 140px;
    background-color: ;
}

#about .about-container .h4