#about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60vh;
    background-color: red;
}

#about .about-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-grid .about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .my-image {
    width: 100%;
}