#about{
    max-width: 100%;
}

#about .about-container{
    max-width: 100%;
}

#about .about-container .info-about{ 
    max-width: 100%;
}

#about .about-container .info-about h4{
    max-width: 100%;
}

#about .about-container .info-about h2{
    max-width: 100%;
}

#about .about-container .info-about p{
    max-width: 100%;
}