.header{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu{
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .menu .logo{
    width: 50px;
}

.header .menu .nav-itens{
    width: 400px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 70px;
}

.header .menu .nav-itens li a{
    transition: 0.5s ease-in-out;
    padding: 8px;
    color: var(--white);
}

.header .menu .nav-itens li a:hover{
    background-color: #000;
    border-radius: 15px;
}