.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 77vh;
}
 
.home .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 140px;
}

.home .left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
}

.home .left .hello{
    padding: 8px;
    background: var(--hello-background);
    color: var(--hello-text);
    font-weight: 700;
    border-radius: 16px;
    margin: 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .left .name-and-title h1{
    font-size: 50px;
    font-weight: 800;
    margin: 20px 0px;
    color: var(--white);
}
.home .left .name-and-title h6{
    font-size: 18px;
    font-weight: 400;
    color: var(--light-gray);
}

.home .left .social-media{
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.home .left .my-image{
    
}

.home .container .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .container .right .download-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    color: var(--white);
}

.home .container .right .download-link:hover{
    color: var(--hello-text);
}

.home .container .right .material-symbols-outlined{
    width: 25px;
}

.home .container .right .whats-link{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .container .right .whats-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(122, 74, 226, 0.201);
    border-radius: 20px;
    padding: 12px;
    border: 2px solid var(--hello-text);
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

.home .container .right .whats-button:hover{
    background-color: var(--hello-background);
    border: none;
}

.home .right .whats-icon{
    width: 30px;
    filter: invert(100%);  
}

.home .container .right .whats-button span{
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
}