*{
    margin: 0;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

html{
    min-height: 100%;
    background-image: linear-gradient(to top left,#004a8f, #060875);
}

ul, li, a{
    text-decoration: none;
    list-style: none;
    color: black;
}

img{
    max-width: 100%;
}