*{
    margin: 0;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

html{
    background-color: #004a8f;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
    color: black;
}

img{
    max-width: 100%;
}